#master-content {
  margin-top: 10vh;
  &.anim-element {
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
  }

  &.anim-element--fadein {
    animation-name: fadeIn;
  }

  &.is-exiting {
      animation-direction: reverse;
  }

}

.doggo-list {
  &.anim-element {
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
  }

  &.anim-element--fadein {
    animation-name: fadeIn;
  }

  &.is-exiting {
      animation-direction: reverse;
  }
}
